{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}

    {% block header %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img class="logo" src="{{ asset('images/Logo.jpg') }}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="plats.html">Nos Spécialités</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="reservation.html">Reserver</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Contact">Nous Contacter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Actualites">Actualités</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Horraires</a>
                        </li>
                    </ul>
                    <form class="d-flex">        
                        <a href="panier.html"><i class="fas fa-shopping-cart"></i></a>
                    </form>
                </div>
            </div>
        </nav>

        <h1>Bienvune chez GreatKitch</h1>
    {% endblock %}


    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Idclient</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.adresse }}</td>
                    <td>{{ client.idclient }}</td>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.prenom }}</td>
                    <td>{{ client.email }}</td>
                    <td>
                        <a href="{{ path('client_show', {'idclient': client.idclient}) }}">show</a>
                        <a href="{{ path('client_edit', {'idclient': client.idclient}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
{% endblock %}
